<li>
  <div class="panel-conv panel panel-default" data-conversation-id="<%= conversation.id %>">
    <div class="panel-heading">
      <%= image_tag conversation.recipient.avatar, class: "user_avatar img-circle" %>
      <%= link_to conversation.opposed_user(conversation.sender).email, conversation_path(conversation), class: 'toggle-window', method: :get %>
      <% if !conversation.messages.empty? %>
        <%= truncate(conversation.messages.last.body, :length => 10) %>
      <% end %>
    </div>
  </div>
</li>
